@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mrmiguelini1@hotmail.com">
    <table>
        <div>mrmiguelini1@hotmail.com</div>
        <div>yunii_5@hotmail.com</div>
        <div>andres_basilio13@hotmail.com</div>
</table></a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>