@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron" style="margin-left: -272px;">
    <@*div><h2 href="http://www.lagunashoresresort.com/">Laguna Shores Resort</h2></div>*@
    @*<p class="lead"></p>*@
    @*<p><a href="http://www.lagunashoresresort.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    @*<img class="imagen1" src="~/Imagenes/Captura el 2015-12-02.png">*@
    
    
@*</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@